  <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Jin Hyejin Yang</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <li><a href="https://github.com/yytina" target="_blank">Github</a></li>
                <li><a href="https://hk.linkedin.com/in/jinyy/" target="_blank">LinkedIn</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
       
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>TicTacToe</h1>
              <p>2-player TicTacToe Game <br>
                <code>AngularJS</code> <code>Javascript</code> <code>Firebase</code>
                <code>HTML/CSS</code></p>
              <p><a class="btn btn-lg btn-primary" href="http://tttgame.herokuapp.com/" target="_blank" role="button">View Website</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Friends Just made</h1>
              <p>What are friends for? Great conversations. Make friends who share your thoughts. 
              <code>Ruby on Rails</code> <code>JQuery</code> <code>API</code>
                <code>HTML/CSS</code> <code>MongoDB</code></p>
              <p><a class="btn btn-lg btn-primary" href="http://friends4.herokuapp.com/" role="button">View Website</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <!-- <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1>ClosetXY</h1>
              <p>Are you lost in shopping? Let's start from your closet. With friends and professionals.<br><code>Ruby on Rails</code> <code>PostgreSQL</code> <code>JQuery</code> <code>API</code>
                <code>Handlebars</code> <code>HTML/CSS</code></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>DaVinci Class Management</h2>
          <p>Chatting consisting of Resources, Discussion and Chitchat using MeteorJS for open source collaboration project</p>
          <p><a class="btn btn-default" href="http://davinci.meteor.com/" target="_blank" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->




      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Jin Hyejin Yang</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../docs-assets/js/holder.js"></script>